modules = ["nodejs-20", "web", "python-3.11"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["sh", "-c", "npm run"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 39653443
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -H 0.0.0.0"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Server"

[[workflows.workflow]]
name = "Next.js Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[objectStorage]
defaultBucketID = "replit-objstore-20acfb5d-2ca4-4602-b35e-a99b55b8533f"

[agent]
expertMode = true
integrations = ["github:1.0.0"]
